<h1>商品一覧</h1>

<%= link_to "+", new_admin_item_path %>

<p>商品ID</p>
<p>商品名</p>
<p>税抜価格</p>
<p>ジャンル</p>
<p>ステータス</p>

<% @items.each do |item| %>
  <%= item.id %>
  <%= link_to "#{item.name}", admin_item_path(item.id) %>
  <%= item.price %>
  <%= item.genre.name %>
  <%= item.is_active ? '販売中' : '販売停止中' %>
<% end %>

<!--bootstrapで整える-->
<!--項目が多い場合に次のページに表示されるようにする-->