<div class="row wid-80 mx-auto mb-5">
  <h2 class="px-4 py-0 text-center my-3 back-color">商品新規登録</h2>
</div>
<!-----------------エラーメッセージ------------------->
<% if @item.errors.any? %>
  <%= @item.errors.count %>件のエラー
  <ul>
    <% @item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!---------------------------------------------------->
<div class="wid-52 mx-auto">
  <%= form_with model:@item, url:admin_items_path, local: true do |f| %>
    <div class="my-1">
      <%= f.label :image, "商品画像", class: "wid-25" %>
      <%= f.attachment_field :image, class: "wid-68" %>
    </div>
    <div class="my-1">
      <%= f.label :name, "商品名", class: "wid-25" %>
      <%= f.text_field :name, placeholder: "商品名", class: "wid-68" %>
    </div>
    <div class="my-1">
      <%= f.label :introduction, "商品説明", class: "wid-25" %>
      <%= f.text_area :introduction, placeholder: "ここに説明文を記述します", class: "wid-68" %>
    </div>
    <div class="my-1">
      <%= f.label :genre_id, "ジャンル", class: "wid-25" %>
      <%= f.collection_select(:genre_id, @genres, :id, :name, {prompt: "--選択して下さい--"}, {class: "wid-68"}) %>
    </div>
    <div class="my-1">
      <%= f.label :proce, "税抜価格", class: "wid-25" %>
      <%= f.text_field :price, placeholder: "1000", class: "wid-68" %><span class="ml-1">円</span>
    </div>
    <div class="my-1">
      <%= f.label :is_active, "販売ステータス", class: "wid-25" %>
      <%= f.radio_button :is_active, "販売中", checked: true %>販売中 <%= f.radio_button :is_active, "販売停止中",class: "ml-4" %>販売停止中
    </div>
    <div class="text-center mt-4">
      <%= f.submit "新規登録", class: "btn btn-success px-4 py-2" %>
    </div>
  <% end %>
</div>
