<div class="row wid-80 mx-auto mb-5">
  <h2 class="px-4 py-0 text-center my-3 back-color">商品詳細</h2>
</div>

<div class="row">

  <div class="col-md-5">
    <%= attachment_image_tag @item, :image, :fill, 400, 260 %>
  </div>

  <div class="col-md-5">
      <div class="d-flex my-2">
        <p class="wid-30">商品名</p>
        <div class="wid-60">
          <%= @item.name %>
        </div>
      </div>
      <div class="d-flex my-2">
        <p class="wid-30">商品説明</p>
        <div class="wid-60">
          <%= @item.introduction %>
        </div>
      </div>
      <div class="d-flex my-2">
        <p class="wid-30">ジャンル</p>
        <div class="wid-60">
          <%= @item.genre.name %>
        </div>
      </div>
      <div class="d-flex my-2">
        <p class="wid-30">税込価格<br>(税抜価格)</p>
        <div class="wid-60">
          <%= ((@item.price + @item.price*0.1).floor).to_s(:delimited) %><span><%= "(#{@item.price.to_s(:delimited)})" %></span>円
        </div>
      </div>
      <div class="d-flex my-2">
        <p class="wid-30">販売ステータス</p>
        <div class="wid-60">
          <%= @item.is_active ? '販売中' : '販売停止中' %>
        </div>
      </div>
      <div class="text-center">
        <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-success px-4" %>
      </div>
  </div>

</div>

