<div class="row wid-80 mx-auto mb-5">
  <h2 class="px-4 py-0 text-center my-3 back-color">会員一覧</h2>
</div>

<table class="table wid-68 mx-auto">
  <thead>
    <tr>
      <th>会員ID</th>
      <th class="text-underline">氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.id %></td>
        <td><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer.id), class: "text-underline" %></td>
        <td><%= customer.email %></td>
        <td><%= customer.is_deleted_i18n %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @customers %>

