<div class="row wid-80 mx-auto mb-2">
  <h2 class="px-4 py-0 text-center my-3 back-color">注文履歴詳細</h2>
</div>
<div class="d-flex my-2">
  <p class="wid-16 font-bold">購入者</p>
  <%= link_to @order.customer.last_name + @order.customer.first_name, admin_customer_path(@order.customer.id), class: "text-underline" %>
</div>
<div class="d-flex my-2">
  <p class="wid-16 font-bold">注文日</p>
  <%= @order.created_at.strftime('%Y/%m/%d') %>
</div>
<div class="d-flex my-2">
  <p class="wid-16 font-bold">配達先</p>
  〒<%= @order.delivery_postal_code %>
  <%= @order.delivery_address %><br>
  <%= @order.delivery_addressee %>
</div>
<div class="d-flex my-2">
  <p class="wid-16 font-bold">支払方法</p>
  <%= @order.method_of_payment_i18n %>
</div>
<%= form_with model:@order, url: admin_order_path(@order.id), local: true do |f| %>
  <div class="d-flex my-2 align-items-baseline">
    <%= f.label :order_status, "注文ステータス", class: "wid-16 font-bold" %>
    <%= f.select :order_status, Order.order_statuses.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]}, {}, {class: "wid-15"} %>
    <%= f.submit "更新", class: "btn btn-success px-2 ml-5" %>
  </div>
<% end %>

<!------------------------------------------------------------------>
<div class="row d-flex justify-content-between mt-5">

  <div class="col-md-9">
    <table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @order.order_items.each do |order_item| %>
          <tr>
            <td>
              <%= order_item.item.name %>
            </td>
            <td>
              <%= order_item.tax_included_price.to_s(:delimited) %>
            </td>
            <td>
              <%= order_item.amount %>
            </td>
            <td>
              <%= (order_item.tax_included_price * order_item.amount).to_s(:delimited) %>
            </td>
            <%= form_with model: [@order, order_item], url: admin_order_order_item_path(order_id: @order.id, id: order_item.id), local: true do |f| %>
              <td>
                <%= f.select :production_status, OrderItem.production_statuses.keys.map{|k| [I18n.t("enums.order_item.production_status.#{k}"), k]}, {}, {class: "wid-90"} %>
              </td>
              <td class="text-right">
                <%= f.submit "更新", class: "btn btn-success px-2" %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
    <!----------------------------------------------------------------->
  <div class="col-md-3 d-flex flex-column justify-content-end">
    <div class="d-flex justify-content-between">
      <p class="font-bold">商品合計</p>
      <%= "#{(@order.total_price - @order.shipping_fee).to_s(:delimited)}円" %>
    </div>
    <div class="d-flex justify-content-between">
      <p class="font-bold">送料</p>
      <%= "#{@order.shipping_fee}円" %>
    </div>
    <div class="d-flex justify-content-between font-bold">
      <p>請求金額合計</p>
      <%= "#{@order.total_price.to_s(:delimited)}円" %>
    </div>
  </div>
</div>
