<h1>注文履歴一覧</h1>

<p>購入日時</p>
<p>購入者</p>
<p>注文個数</p>
<p>注文ステータス</p>

<% if @one_person_orders %>
  <% @one_person_orders.each do |order| %>
    <%= link_to order.created_at.strftime('%Y/%M/%D/%H/%M/%S'), admin_order_path(order.id) %>
    <%= order.customer.last_name + order.customer.first_names %>
    <%= order.order_items.amount.sum %>
    <%= order.order_status %>
  <% end %>
<% else %>
  <% @orders.each do |order| %>
    <%= link_to order.created_at.strftime('%Y/%M/%D/%H/%M/%S'), admin_order_path(order.id) %>
    <%= order.customer.last_name + order.customer.first_names %>
    <%= order.order_items.amount.sum %>
    <%= order.order_status %>
  <% end %>
<% end %>

<!--bootstrapで整える-->
<!--項目が多い場合に次のページに表示されるようにする-->
<!--一会員と全会員の表示分けができているかチェック-->
