<div class="row wid-80 mx-auto mb-2">
  <h2 class="px-4 py-0 text-center my-3 back-color">注文履歴一覧</h2>
</div>

<% if @customer %>
  <table class="table wid-80 mx-auto">
    <thead>
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @one_person_orders.each do |order| %>
        <tr>
          <td>
            <%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order.id), class: "text-underline" %>
          </td>
          <td>
            <%= order.customer.last_name + order.customer.first_name %>
          </td>
          <td>
            <% sum = 0 %>
            <% order.order_items.each do |order_item| %>
              <% sum = sum + order_item.amount %>
            <% end %>
            <%= sum %>
          </td>
          <td>
            <%= order.order_status_i18n %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @one_person_orders %>
<% else %>
  <table class="table wid-80 mx-auto">
    <thead>
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order.id), class: "text-underline" %>
          </td>
          <td>
            <%= order.customer.last_name + order.customer.first_name %>
          </td>
          <td>
            <% sum = 0 %>
            <% order.order_items.each do |order_item| %>
              <% sum = sum + order_item.amount %>
            <% end %>
            <%= sum %>
          </td>
          <td>
            <%= order.order_status_i18n %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate @orders %>
<% end %>
