<h2>配送先編集</h2>

<!----------------------------エラーメッセージ-------------------------->
<% if @address.errors.any? %>
  <%= @address.errors.count %>件のエラー
  <ul>
    <% @address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!---------------------------------------------------------------------->

<%= form_with model: @address, url: addresses_path(@address.id), local: true do |f| %>
  <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
  <%= f.text_field :postal_code %>
  <%= f.label :address, "住所" %>
  <%= f.text_field :address %>
  <%= f.label :name, "宛名" %>
  <%= f.text_field :name %>
  <%= f.submit "変更内容を保存" %>
<% end %>