<h2>配達先登録/一覧</h2>
<%= form_with model: @address, url: addresses_path, local: true do |f| %>
  <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
  <%= f.text_field :postal_code, placeholder: "0000000" %><br>
  <%= f.label :address, "住所" %>
  <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %><br>
  <%= f.label :name, "宛名" %>
  <%= f.text_field :name, placeholder: "令和道子" %><br>
  <%= f.submit "新規登録" %>
<% end %>

<p>郵便番号</p>
<p>住所</p>
<p>宛名</p>

<% @addresses.each do |address| %>
  <%= address.postal_code %>
  <%= address.address %>
  <%= address.name %>
  <%= link_to "編集する", addresses_path(address.id) %>
  <%= link_to "削除する", addresses_path(address.id), method: :delete %>
<% end %>