<div class="row wid-80 mx-auto mb-5">
  <h2 class="px-4 py-0 text-center my-3 back-color">配達先登録/一覧</h2>
</div>

<!----------------------------エラーメッセージ-------------------------->
<% if @address.errors.any? %>
  <%= @address.errors.count %>件のエラー
  <ul>
    <% @address.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
<!---------------------------------------------------------------------->
<div>
  <%= form_with model: @address, url: addresses_path, local: true do |f| %>
    <div class="d-flex mb-2">
      <%= f.label :postal_code, "郵便番号(ハイフンなし)", class: "wid-25" %>
      <%= f.text_field :postal_code, placeholder: "0000000", class: "wid-25" %>
    </div>
    <div class="d-flex mb-2">
      <%= f.label :address, "住所", class: "wid-25" %>
      <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "wid-60" %>
    </div>
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-between wid-50">
        <%= f.label :name, "宛名", class: "wid-50" %>
        <%= f.text_field :name, placeholder: "令和道子", class: "wid-50" %>
      </div>
      <div>
        <%= f.submit "新規登録", class: "btn btn-success px-4 py-0" %>
      </div>
    </div>
  <% end %>
</div>


<table class="wid-80 mt-5">
  <tr>
    <th>郵便番号</th>
    <th>住所</th>
    <th>宛名</th>
    <th></th>
  </tr>
  <% @addresses.each do |address| %>
    <tr>
      <td><%= address.postal_code %></td>
      <td><%= address.address %></td>
      <td><%= address.name %></td>
      <td class="text-center">
        <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-success" %>
        <%= link_to "削除する", address_path(address.id), method: :delete, class: "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>
