<div class="row">
  <h2 class="font-small px-4 py-0 text-center my-3 back-color">ログイン</h2>
</div>

<div class="row">
  <h3 class="font-small-2 px-4 py-0 text-center mx-5 mt-5 mb-3 back-color">会員の方はこちらからログイン</h3>
</div>
<div class="row">
  <div class="col-md-8 m-auto">
    <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
      <div class="field d-flex justify-content-between my-3">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "col-md-8" %>
      </div>

      <div class="field d-flex justify-content-between mb-4">
        <%= f.label :password, "パスワード" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "col-md-8" %>
      </div>

      <div class="actions d-block text-center">
        <%= f.submit "ログイン", class: "btn btn-primary mb-5" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <h3 class="font-small-2 px-4 py-0 text-center mx-5 mt-5 mb-3 back-color">会員登録がお済みでない方</h3>
</div>
<div class="actions d-block text-center mr-5">
  <%= link_to "こちら", new_customer_registration_path %>から新規登録を行ってください
</div>
